body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: "Press Start 2P", sans-serif;
    background-color: black;
    color: white;
  }
  
  h1 {
    margin: 20px;
    margin-bottom: 50px;
    font-size: 2.5em;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 60px; /* Increased from 40px */
    text-align: center;
    font-size: 1.5em;
  }
  
  #gameContainer {
    display: none;
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #homeScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    padding: 0;
    margin: 0;
    border: none;
  }
  
  #homeImage {
    max-width: 50%;
    height: auto;
    margin-bottom: 100px;
  }
  
  #startButton {
    margin-top: 25px; /* Added top margin */
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Press Start 2P', sans-serif;
    background-color: rgba(255, 255, 255, 0.90);
    color: black;
    border: none;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  #startButton:hover {
    background-color: black;
    color: white;
  }
  
  canvas {
    display: none;
    width: 100vw;
    height: auto;
    max-width: 600px;
    max-height: 80vh;
    box-shadow: black 20px 10px 50px;
    border: 1px solid white;
  }
  
  #restartButton {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.767);
    font-family: "Press Start 2P", sans-serif;
    color: black;
    border: none;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  #restartButton:hover {
    background-color: black;
    color: rgba(255, 255, 255, 0.76);
  }
  
  @media (max-width: 390px) {
    body {
      font-size: 12px;
    }
  
    h1 {
      font-size: 1.5em;
      margin: 10px 0 20px;
    }
  
    h2 {
      font-size: 1.2em;
      margin-bottom: 60px; /* Adjusted for mobile */
    }
  
    #homeImage {
      max-width: 80%;
      margin-bottom: 50px;
    }
  
    #startButton {
      margin-top: 20px; /* Adjusted for mobile */
      padding: 15px 30px;
      font-size: 16px;
    }
  
    #gameContainer {
      margin-top: 20px;
    }
  
    canvas {
      width: 100vw;
      height: auto;
      max-width: 390px;
      max-height: 844px;
      border: none;
      box-shadow: none;
    }
  }